#about_blue {
  border: SOLID black ;
}
  #about_yellow{
    margin-top: 30px;
    border: SOLID green ;
    background: #FFEBCD;
  }
  #about_blue{
    background: #6495ED;

  }
  #about_blue li {
    color: purple
  }
  #about_yellow li {
    color: orange
  }
  .important {
    font-size: 16px;
    font-weight: bold ;
  }
  ul.nav li{
    border: SOLID red 3px;
    background-color: red;
  }
  ul.nav li a {
    color: white;
  }
